.footer {
  max-width: 166px;
  text-align: center;
  margin: 92px auto 24px;
  display: block;
}

.footer__copyright {
  max-width: 166px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
