.header {
  padding-top: 34px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header__logo {
  width: 254px;
  height: 70px;
}

@media screen and (max-width: 540px) {
  .header__logo {
    width: 188px;
    height: 52px;
  }
}
