.lead {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
}

.lead__title {
    font-family: "Inter";
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    max-width: 720px;
    margin: 0 auto;
}