.lead {
  max-width: 984px;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
}

.lead__title {
  font-family: "Inter";
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  margin: 0 auto;
}

.lead__subtitle {
  margin: 64px auto 32px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
}

.lead__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
    letter-spacing: 0%;
  }
  .lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .
}

@media screen and (max-width: 540px) {
}
